<h1>this is editing space</h1>
<%= form_for @bookmark , url: {action: :update} do |f| %>
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title %>
    <%= f.label :subject, '本文' %>
    <%= f.text_field :subject %>
    <%= f.submit '更新' %>
    <% end %>
<%= link_to 'Back', '/' %>