<h1>bookwith</h1>
<center>
<!-- <p>Find me in app/views/bookmarks/index.html.erb</p> -->
<p>bookwithは本を共同制作できるプラットフォームを提供します<br>
作品ごとに読み手が交流できる場所で新しい価値を目指します</p>
<% @bookmarks.each do |book| %>
    
    <%= book.title %>
    <%= book.author %>
    <%= link_to book.url %>
    <%= link_to '読む',"/bookmarks/#{book.id}" %>
    
    
    <br>
<% end %>
<p><%= link_to '本を作る', '/bookmarks/new' %></p>
</center>