<p>
<strong>タイトル:</strong>
<%= @bookmark.title %>
</p>
<p>
<strong>URL:</strong>
<%= @bookmark.url %>

</p>
<%= @bookmark.phrase %>
<%= link_to 'edit', "/bookmarks/#{@bookmark.id}/edit" %>
<%= link_to 'Back', '/' %>