<center>
<p>
<strong>タイトル:</strong>
<%= @bookmark.title %><br>
</p>
<p>
<strong>作者,共著の場合はチーム:</strong>
<%= @bookmark.author %><br>
</p>
<p>
<strong>URL:</strong>
<%= link_to @bookmark.url %><br>
</p>
<strong>本文:</strong>
<%= @bookmark.phrase %><br>
</p>


<%= link_to 'edit', "/bookmarks/#{@bookmark.id}/edit" %>
<%= link_to 'Back', '/' %>
</center>